<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>simple blog application</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
<div class="min-h-full">
  <!-- Navigation -->
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-8 w-8" src="/mark.svg?color=indigo&shade=500" alt="Your Company">
          </div>
          <div class="hidden md:block">
            <div class="ml-10 flex items-baseline space-x-4">
              <a href="/" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                 aria-current="page">Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <main class="flex justify-center items-start min-h-screen pt-20">
    {{#samples}}
      <div
          class="relative flex w-96 flex-col rounded-lg border border-slate-200 bg-white shadow-sm">
        <nav class="flex min-w-[240px] flex-col gap-1 p-1.5">
          <div
              role="button"
              class="text-slate-800 flex w-full items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
          >
            <div class="mr-4 grid place-items-center">
              <svg class="w-12 h-12 text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                   xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                      clip-rule="evenodd"></path>
              </svg>
            </div>
            <div>
              <h6 class="text-slate-800 font-medium">
                {{ name }}
              </h6>
              <p class="text-slate-500 text-sm">
                {{ email }}
              </p>
            </div>
          </div>
        </nav>
      </div>
    {{/samples}}
  </main>
</div>
</body>
</html>